* {
	margin: 0;
	padding: 0;
}

a {
	color: #816998;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
a:hover, a.selected {
	color: #665378;
}

#timeline {
	z-index: 3;
	width: 800px;
	overflow: hidden;
	margin: 5px auto;
	position: relative;
	background: url('../images/dot.gif') left 45px repeat-x;
}
#dates {
	font-weight: 400;
	width: 800px;
	height: 50px;
	overflow: hidden;
}
#dates li {
	list-style: none;
	float: left;
	width: 100px;
	height: 50px;
	font-size: 24px;
	text-align: center;
	background: url('../images/biggerdot.png') center bottom no-repeat;
}
#dates a {
	line-height: 38px;
	padding-bottom: 10px;
}
#dates .selected {
	font-size: 30px;
	font-weight: 900;
}
.dblClickInfo {
	font-weight: 400;
	font-size: 11px;
	text-decoration: underline;
	color: #707070;
}
#sources {
}
.sourceIcon {
	box-shadow: 0px 0px 3px black;
	position: absolute;
	border-radius: 3px;
	cursor: pointer;
	height: 35px;
	z-index: 100;
	border: 1px solid black;
}
.sourceIcon:hover {
	margin-left: -1px; margin-top: -1px;
	height: 37px;
}
.inactiveSource {
	opacity: 0.3;
}