<div ng-controller="ExploreCtrl" class="container container-main">
	<div class="row">
		<div class="page-header">
			<h1 class="text-center">Explore</h1>
			<p class="text-center">Hey, check out what's happening</p>
		</div>
	</div>
	<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="page-header">
					<h3 class="text-center">Categories</h3>
				</div>
				<ul class="list-group">
					<li class="list-group-item"  ng-repeat="category in categories">
						<span ng-click="addCategory(category)" class="badge">&#10004</span>
						{{category}}
					</li>
				</ul>
				<button ng-click="moreCategories()" type="button" class="btn btn-primary btn-lg btn-block">more categories</button>
			</div>
		</div>

	<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="page-header">
					<h3 class="text-center">Keywords</h3>
				</div>
				<ul class="list-group">
					<li class="list-group-item"  ng-repeat="keyword in keywords">
						<span ng-click="addKeyword(keyword)" class="badge">&#10004</span>
						{{keyword}}
					</li>
				</ul>
				<button ng-click="
				moreKeywords()" type="button" class="btn btn-primary btn-lg btn-block">more keywords</button>
			</div>
		</div>
</div>

