<div class="container-fluid">
    <div  class="sidebar" ng-include="'../partials/sidebar.html'"></div>
    <div ng-controller="FeedCtrl"class="col-md-4  col-md-offset-4">
        <div ng-repeat="article in articles"class="list-group">
            <div class="article-thumbnail">
            <div class="article-photo" style="background-image: url('{{article.images[0]}}')"></div>
                <div class="caption">
                    <span ng-show="article.keywords[0]" class="keywords"> {{article.keywords[0]}}</span>
                    <h4 class="thumbnail-title">{{article.title}}</h4>
                    <p class="thumbnail-summary">{{article.summary}}</p>
                    <p><a href="" class="btn btn-primary btn-sharp" role="button" 
                    ng-click="showArticle(article._id)">  Read  </a></p>
            </div>
        </div>
    </div>
</div>