<!-- Fixed navbar -->
<div class="nav">
	<div class="nav-section nav-left pull-left">
		<a href="#">RETINA</a>
	</div>
	<div class="nav-section nav-right pull-right">
		<a ui-sref="login">LOGIN</a>
		<a ui-sref="register">REGISTER</a>
	</div>
	<button class="nav-section nav-mobile-button pull-right">
		<span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
	</button>
</div>

<div class="main-splash-background" ng-controller="MainSplash" ng-style="{'filter': 'grayscale('+inverseScrollPercent+'%)'}">
</div>
<div class="main-splash">
	<div class="main-splash-content">
		<h1 class="text-center text-primary">THE NEWS</h1>
		<h1 class="text-center text-primary">FOR YOU, BY YOU</h1>
		<button onclick="$('html,body').animate({scrollTop: $('#learn-more').offset().top - 70}, 'slow')" class="btn btn-primary btn-lg">LEARN MORE</button>
	</div>
</div>
<div class="main-info" id="learn-more">
	<div class="container">
		<h2 class="text-center">About Retina</h2>
		<h4 class="text-center">Retina is a news aggregator that surfaces new content based on what you've looked at in the past.</h4>
	</div>
	<button class="btn btn-primary btn-lg">GET STARTED</button>
</div>
