<div class="container-fluid">
	<div class="row">
	<div class="jumbotron no-bottom-margin main-background-img">
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header no-curve">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand-name" href="#">Retina</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="login">Login</a></li>
        <li><a ui-sref="register">Register</a></li>
      </ul>
    </div>
  </div>
</nav>
<!--  --><div class="jumbotron-copy"></div>
		<h2 class="text-center text-primary"> the news </h2>
		<h2 class="text-center text-primary"> for you,  by you</h2>
		<div class="text-center">
			<a href="#" class="btn btn-primary btn-lg">Learn More</a>
		</div>
		</div>
		<!--  -->
</div>
<div class="row">
	<div class="jumbotron">
		<h2 class="text-center"> About </h2>
		<p class="text-center"> Retina is a news aggregator that surfaces new content based on what you've looked at in the past.</p>
	</div>
</div>
</div>