<div class="row main-background-img">
	<div class="jumbotron no-bottom-margin">

		<h1 class="text-center"> Retina News</h1>
		<p class="text-center"> the news </p>
		<h3 class="text-center"> for you by you</h3>
		<div class="text-center">
			<a href="#" class="btn btn-default">Login</a>
<a href="#" class="btn btn-primary">Register</a>
		</div>
		</div>

	<div class="jumbotron">
		<h2 class="text-center">About</h2>
			<p class="text-center">
			 Retina is a news aggregator that continously surfaces stories that are relevant to you based on news articles that you've read in the past.
		</p>
	</div>
	</div>

</div>