<div ng-controller="ProfileCtrl" class="container container-main">
	<div class="row">
		<div class="page-header">
			<h1 class="text-center">{{vm.name}}</h1>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<img ng-src="{{vm.picture}}" alt="..." class="img-circle">
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="page-header">
				<h3 class="text-center">Categories</h3>
			</div>
			<ul class="list-group">
				<li class="list-group-item"  ng-repeat="category in vm.categories">
					<span ng-click="removeCategory(category, $index)" class="badge">&#10008</span>
					{{category}}
				</li>
			</ul>
			<div class="page-header">
				<h3 class="text-center">Keywords</h3>
			</div>
			<ul ng-show="showMoreKeywords" class="list-group">
				<li class="list-group-item"  ng-repeat="keyword in vm.keywords">
					<span ng-click="removeKeyword(keyword, $index)" class="badge">&#10008</span>
					{{keyword}}
				</li>
			</ul>
			<a href="/#/explore">
				<button type="button" class="btn btn-primary btn-lg btn-block">Explore...</button>	
			</a>
			<a href="/#/feed">
				<button type="button" class="btn btn-primary btn-lg btn-block">Feed</button>	
			</a>
		</div>
		<!-- <div class="row">
			<a href="/#/feed">
				<button type="button" class="btn btn-default">Done</button>
			</a>
			<p>
			
		</div> -->
	</div>