html {
  position: relative;
  min-height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin-bottom: 60px;
  margin-top: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
  margin:10px 0px 15px 0px;
}
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}
.container-main {
  width: 100%;
  margin-top: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  color: #777;
  background-color: #ddd;
  border-top: 1px solid #e5e5e5;
}
.footer .container {
  margin-top: 18px;
}
.footer-push {
  height: 60px;
}
.navbar {
  font-family: 'Open Sans';
}
.navbar .container-fluid {
  max-width: 930px;
}
.navbar .btn {
  background: transparent;
  border: 2px solid #fff;
  margin: 8px 8px 0;
  padding: 7px;
}
.navbar-img {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}
.navbar-brand {
  margin-top: 4px;
  color: #fff;
}
.navbar-nav li a {/*Fills out navbar links vertically*/
  padding: 17px 15px;
}
.noscript {
  margin: 40px auto;
  text-align: center;
  font-size: 20px;
}

.full-screen-panel {
  height: 100vh;
  width: 100%;
}

#top-panel {
  color: white;
  margin-top: -54px;
  padding-bottom: 0;
  text-align: center;
}

#top-panel .btn {
  padding: 14px 24px;
  font-size: 21px;
}

#top-panel h1,h3 {
  margin-top: 0;
}

#top-panel .main-info {
  text-shadow: 1px 1px #999;
}

#top-panel-pic-wrap {
  position: absolute;
  left:0;
  top:1px;
  background: black;
  opacity: 0;
}

#top-panel-pic {
  position: absolute;
  left:0;
  top:0;
  background: url(../images/landing.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding-bottom: 0;
}

.init-transparent {
  opacity: 0;
}

#about-panel {
  min-height: 100vh;
  padding: 74px 20px 20px;
  margin-top: -54px;
  color: #fff;
  background-color: #666;
}

.about-content {
  max-width: 750px;/*smaller for small screens w media query*/
  margin-left: auto;
  margin-right: auto;
}

.about-content h5 {
  color: #ccc;
}

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.horizontal-center {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.landing {
  max-width: 768px;
  height: 300px;
  margin: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}
.landing-form-object {
  margin-bottom: 10px;
}
.login-pane {
  max-width: 250px;
  margin: auto;
  text-align: center;
  box-shadow: 5px 5px 5px #CCC;
}
.alert {
  text-align: center;
}
.alert h4 {
  margin-bottom: 0px;
}
.alert-transparent.alert-warning {
	background-color: rgba(252,248,227,0.7);
	background-image: linear-gradient(to bottom,rgba(252,248,227,0.7) 0%,rgba(248,239,192,0.7) 100%);
	border-color: rgba(245,231,158,0.7);
	color: rgba(138,109,59,0.7);
}
.alert-transparent.alert-danger {
	background-color: rgba(242,222,222,0.7);
	background-image: linear-gradient(to bottom,rgba(242,222,222,0.7) 0%,rgba(231,195,195,0.7) 100%);
	border-color: rgba(220,167,167,0.7);
	color: rgba(169,68,66,0.7);
}
.alert-transparent.alert-success {
	background-color: rgba(223,240,216,0.7);
	background-image: linear-gradient(to bottom,rgba(223,240,216,0.7) 0%,rgba(200,229,188,0.7) 100%);
	border-color: rgba(178,219,161,0.7);
	color: rgba(60,118,61,0.7);
}
.alert-transparent.alert-info {
	background-color: rgba(217,237,247,0.7);
	background-image: linear-gradient(to bottom,rgba(217,237,247,0.7) 0%,rgba(185,222,240,0.7) 100%);
	border-color: rgba(188,232,241,0.7);
	color: rgba(49,112,143,0.7);
}
.retina-brand {
  font-family: 'Orbitron';
}
.feed-header {
  height: 20px;
}
.feed-header .horizontal-center {
  position: absolute;
}
.stub-article {
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #FFF;
  border-bottom: 2px solid #378bd4;
  transition: all .2s ease-in-out;
  word-wrap: break-word;
}

.stub-article span {
  margin: 0px 5px 0px 0px;
}

.stub-article:hover {

}

.stub-photo {
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 300px;
  margin: 5px 0px 0px 0px;
}
.stub-caption {
}

.stub-caption p {
  white-space: pre-wrap;
}
.stub-show-btn {
  margin-bottom: 0px;
}

.modal-dialog .btn {
  margin-bottom: 10px;
}

.panel-body .btn {
    margin-bottom: 10px;
}

.alt-stub-article {
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #FFF;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all .2s ease-in-out;
}
.alt-stub-article:hover {
  background-color: #E0DEDE;
}
.alt-stub-header-container {
  display: table;
  width: 100%;
}
.alt-stub-photo {
  display: table-cell;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 10%;
}
.alt-stub-caption {
  display: table-cell;
  width: 90%;
}
.alt-stub-caption h2 {
  margin: 10px;
}
.alt-stub-caption h4 {
  margin: 10px;
}
.alt-stub-caption h5 {
  margin: 10px;
}
.multi-stub-article {
  display: block;
  padding: 10px;
  margin: 0 6px 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all .2s ease-in-out;
  word-wrap: break-word;
  cursor: pointer;
}

.multi-stub-article span {
  margin: 0px 5px 0px 0px;
}

.multi-stub-article:hover {
  display: block;
  background-color: #eee;
}

.multi-stub-photo {
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 150px;
  margin: 5px 0px 0px 0px;
}

.sidebar {
  position: fixed;
}
.article-photo {
  display: block;
  position: relative;
  background-color: #ffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 250px;
  /*border-top: 5px solid #529bda; */
}

.article-thumbnail {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}

.btn-sharp {
  border-radius:0;
  background-color: #232324;
}

.keywords {
  border-radius:0;
  background-color: #232324;
  color: #fff;
  padding: 2px;
}

.caption {
  padding: 10px;
  background-color:#529bda;
  border-top: 5px solid #fff;
}

.thumbnail-summary {
  color: #fff;
  font-size: 1.2em;
}

.thumbnail-title {
  color: #232324;
}

.multi-stub-caption {
}
.multi-stub-show-btn {
  margin-bottom: 0px;
}
.multi-stub-modal {
  /*max-height: 100vh;*/
}
.multi-stub-modal-body {
  height: 100%;
  overflow-y: scroll;
  white-space: pre-wrap;
}
.category-select {
  display: table;/*Using this because it will work for any browser*/
  position: relative;
  height: 54px;
  width: 100%;
  text-align: center;
  background-color: #fff;
  z-index: 100;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.category-select li {
  margin: 0 29px 0 0;/*29px instead of 30: Apparently Chrome doesn't always add up correctly so this keeps last element from getting pushed to new line*/
  padding: 0;
  border: 0;
  display: inline-block;
  list-style-type: none;
  font-size: 24px;
  color: #999;
  cursor: pointer;
}
.category-select li:hover {
  color: #777;
}
#news-nav-items {
  display: table-cell;/*Using this because it will work for any browser*/
  vertical-align: middle;
  padding: 0 0 0 30px;
  margin: 0 auto 0;
  border: 0;
  visibility: hidden;
}
.category-select-wrapper {
  height: 54px;
  width: 100%;
}
#frontpage-news {
  padding: 0 30px;
  background-color: #fff;
}
#frontpage-news h2 {
  padding-top: 10px;
}
.masonry-brick {
  padding-left: 0;
  padding-right: 0;
}

.facebook-buttton {
  background-color: #3a5795;
  display: block;
}

.login-side-img-container {
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow: hidden;
}

.login-side-img {
    width: auto;
    height: auto;
}

.view-article {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 850px;
  z-index: 1100;
  background-color: #fff;
  height: 100vh;
}

.article-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  padding: 20px;
  z-index: 2000;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.7);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.7);
  -ms-transform: translateX(-50%) translateY(-50%) scale(0.7);
  transform: translateX(-50%) translateY(-50%) scale(0.7);
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.article-modal-show {
  visibility: visible;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  -ms-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
  opacity: 1;
}

.article-modal-content {
  color: #333;
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.article-modal-text {
  color: black;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 20px;
  white-space: pre-wrap;
}

.article-paragraph {
  margin-bottom: 10px;
}

.modal-screen-cover {
  width: 10000px;
  height: 10000px;
  position: fixed;
  z-index: 1900;
  top: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-screen-cover-show {
  visibility: visible;
  opacity: .4;
}

/* Begin copied from jumbotron-narrow */
@media (min-width: 768px) {
  .container {
    max-width: 830px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* End copied from jumbotron-narrow */
}

@media (min-width: 400px) {
  #signupModal .modal-dialog {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Media Settings */
@media (max-height: 400px) {
  .jumbotron-scroll {
    display: none;
  }
}
.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 1s;
     -moz-transition-duration: 1s;
      -ms-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

.list-group-item .btn{
  float: right;
  padding: 0px 4px 0px 4px;
  color: white;
  background-color: #378bd4;
}

/* Wide desktops */
@media (min-width: 993px) {
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 40px;
  }
  h4 {
    font-size: 30px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 15px;
  }
  .about-checks {
      font-size: 45px;
  }
  .about-section {
      margin-bottom: 60px;
  }
}
/* Laptops, desktops */
@media (max-width: 992px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 45px;
  }
  h3 {
    font-size: 35px;
  }
  h4 {
    font-size: 25px;
  }
  h5 {
    font-size: 15px;
  }
  h6 {
    font-size: 13px;
  }
  .about-checks {
      font-size: 30px;
  }
  .about-content {
    max-width: 650px;
  }
}
/* Tablets */
@media (max-width: 768px) {
  .landing {
    padding-left: 30px;
    padding-right: 30px;
  }
  .category-select li {
    font-size: 22px;
  }
  .jumbotron-scroll {
    display: none;
  }
  .login-side-col {/*Login page hide graphic on phones*/
    display: none;
  }
  .login-form-col {/*Makes it work at 768px*/
      width: 100%;
  }
  .login-form-col .panel-body {/*Login page limit form width*/
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Tiny Screens */
@media (max-width: 480px) {
  .landing {
    padding-left: 20px;
    padding-right: 20px;
  }
  .landing h1 {
    font-size: 30px;
  }
  .landing h2 {
    font-size: 25px;
  }
  .landing-form-object {
    text-align: center;
  }
  .about-panel .panel-heading {
    text-align: center;
  }
  .stub-photo {
    min-height: 130px;
  }
  .category-select li {
    font-size: 18px;
  }
  #frontpage-news {
    padding: 0 0 20px;
  }

}
@media (max-height: 720px) {
  .about-section {
      margin-bottom: 20px;
  }
}

@media (max-height: 320px) {

}
/*These next 3 media queries are a fix for iOS viewport bug*/
/**
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  .full-screen-panel {
    height: 1024px;
  }
  #about-panel {
    min-height: 1024px;
  }
}

/**
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
  .full-screen-panel {
    height: 768px;
  }
  #about-panel {
    min-height: 768px;
  }
}

/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40/71) {
  .full-screen-panel {
    height: 470px;
  }
  #about-panel {
    min-height: 470px;
  }
}
