@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/Ubuntu/Ubuntu-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Ubuntu/Ubuntu-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/Ubuntu/Ubuntu-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Open_Sans/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/Open_Sans/OpenSans-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Orbitron/Orbitron-Bold.ttf) format('truetype');
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  font-family: 'Ubuntu', sans-serif;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
  margin:10px 0px 15px 0px;
}
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}
.container-main {
  margin-top: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.footer .container {
  margin-top: 18px;
}
.navbar {
  font-family: 'Open Sans';
}
.navbar .container-fluid {
  max-width: 930px;
}
.navbar-img {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}
.jumbotron {
  background: url(../images/landing.jpg);
  background-repeat: no-repeat;
  color: white;
  height: 500px;
}
.jumbotron h1 {
  margin: 100px 0px 0px 0px;
}
.landing {
  max-width: 768px;
  height: 300px;
  margin: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}
.landing h1 {
  font-size: 46px;
}
.landing h2 {
  font-size: 39px;
}
.landing-form-object {
  margin-bottom: 10px;
}
.login-pane {
  max-width: 250px;
  margin: auto;
  text-align: center;
  box-shadow: 5px 5px 5px #CCC;
}
.alert {
  text-align: center;
}
.alert h4 {
  margin-bottom: 0px;
}
.alert-transparent.alert-warning {
	background-color: rgba(252,248,227,0.7);
	background-image: linear-gradient(to bottom,rgba(252,248,227,0.7) 0%,rgba(248,239,192,0.7) 100%);
	border-color: rgba(245,231,158,0.7);
	color: rgba(138,109,59,0.7);
}
.alert-transparent.alert-danger {
	background-color: rgba(242,222,222,0.7);
	background-image: linear-gradient(to bottom,rgba(242,222,222,0.7) 0%,rgba(231,195,195,0.7) 100%);
	border-color: rgba(220,167,167,0.7);
	color: rgba(169,68,66,0.7);
}
.alert-transparent.alert-success {
	background-color: rgba(223,240,216,0.7);
	background-image: linear-gradient(to bottom,rgba(223,240,216,0.7) 0%,rgba(200,229,188,0.7) 100%);
	border-color: rgba(178,219,161,0.7);
	color: rgba(60,118,61,0.7);
}
.alert-transparent.alert-info {
	background-color: rgba(217,237,247,0.7);
	background-image: linear-gradient(to bottom,rgba(217,237,247,0.7) 0%,rgba(185,222,240,0.7) 100%);
	border-color: rgba(188,232,241,0.7);
	color: rgba(49,112,143,0.7);
}
.retina-brand {
  font-family: 'Orbitron';
}
/* Media Settings */
/* Wide desktops */
@media (max-width: 1200px) {

}
/* Laptops, desktops */
@media (max-width: 992px) {

}
/* Tablets */
@media (max-width: 768px) {
  .landing {
    padding-left: 30px;
    padding-right: 30px;
  }
  .landing h1 {
    font-size: 35px;
  }
  .landing h2 {
    font-size: 30px;
  }
/* Tiny Screens */
@media (max-width: 480px) {
  .landing {
    padding-left: 20px;
    padding-right: 20px;
  }
  .landing h1 {
    font-size: 30px;
  }
  .landing h2 {
    font-size: 25px;
  }
  .landing-form-object {
    text-align: center;
  }
  .about-panel .panel-heading {
    text-align: center;
  }
}
@media (max-height: 320px) {
  #wrap {
    margin: 0 auto 0;
    padding: 0 0 0;
  }
}
