@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300);
body {
	font: 15px "Open Sans", sans-serif;
	padding: 0px;
	margin: 0px;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
}

.x.axis path {

}

.city {
	fill: #ebe3fd;
}
.line {
	stroke: #af8bf6;
	stroke-width: 5px;
}
.labels {
	font-size: 25px;
	font-weight: bold;
	fill: #af8bf6;
}
#bigName, #lowerName {
	position: absolute;
	text-align: center;
	width: 100%;
	font-size: 50px;
	padding-top: 30px;
	font-weight: 800;
	text-shadow: 1px 1px 0px #969298, -1px 1px 0px #969298, 1px -1px 0px #969298, -1px -1px 0px #969298;
	color: #cfc6d8;
}
#lowerName {
	margin-top: 70px;
	font-size: 20px;
	font-weight: 400;
	color: #664974;
	text-shadow: none;
}
.area {
    fill: transparent;
    stroke-width: 0;
}