      <div class="row marketing" ng-controller="stub">
        <div class="stub-article" ng-repeat="article in news" ng-click="article.show = !article.show">
          <div class="stub-photo" style="background-image: url('{{article.img}}')"></div>
          <div class="stub-caption">
            <h2>{{article.title}}</h2>
            <h4>{{article.description}}</h4>
            <h5>{{article.source}}</h5>
            <p ng-show="article.show">{{article.text}}</p>
          </div>
        </div>
      </div>
