      <div class="row marketing" ng-controller="stub">
        <div class="alt-stub-article" ng-repeat="article in news" ng-click="article.show = !article.show">
          <div class="alt-stub-photo" style="background-image: url('/images/news-icons/icon_cnn.png')"></div>
          <div class="alt-stub-caption">
            <h2>{{article.title}}</h2>
            <h4>{{article.description}}</h4>
            <h5>{{article.source}}</h5>
          </div>
          <p ng-show="article.show">{{article.text}}</p>
        </div>
      </div>
