      <div class="container container-main">
        <div class="header">
          <h1>Sign in</h1>
        </div>
        <div class="panel panel-default login-pane">
          <div class="panel-body"><!--Just text for now, no login buttons yet-->
            <h4>You can log in with any of these services</h4>
            <br>
            <h3>
            <p>Facebook Login</p>
            <br>
            <p>Google Login</p>
            <br>
            <p>Dropbox Login</p>
            </h3>
          </div>
        </div>
      </div>
