   <div class="container container-main">
     <div class="landing">
       <h1>Just a sec... <small>We're finding stuff you'll like</small></h1>
       <i class="fa fa-cog fa-spin fa-5x"></i>
     </div>
     <!--Not actually connecting to API yet but here's a connection alert-->
     <div id="alert-api-fail" class="alert alert-transparent alert-danger" style="display:none;"><h4>Having trouble connecting to the API...</h4></div></div>
     <script type="text/javascript">
     function showAlert(){
       $("#alert-api-fail").delay(4000).fadeIn()
     }
     showAlert();
     </script>
   </div>
