   <div class="container container-main">
      <div class="header">
         <h1>Settings <span class="retina-brand"></span></h1>
      </div>

        <div class="col-md-6">
          <div class="panel panel-default about-panel">
          <a class="btn" type="button" href="#">
            <div class="panel-heading"><h2>Business</h2></div>
          </a>
          </div>
          <div class="panel panel-default about-panel">
          <a class="btn" type="button" href="#">
            <div class="panel-heading"><h2>Entertainment</h2></div>
          </a>
          </div>
          <div class="panel panel-default about-panel">
          <a class="btn" type="button" href="#">
            <div class="panel-heading"><h2>Health</h2></div>
          </a>
          </div>
          <div class ="panel panel-default about-panel">
            <a class="btn" type="button" href="#">
            <div class="panel-heading"><h2>Science</h2></div>
            </a>
          </div>
        </div>

      <div class="col-md-6">
        <div class ="panel panel-default about-panel">
        <a class="btn" type="button" href="#">
            <div class="panel-heading"><h2>Sports</h2></div>
        </a>
        </div>
        <div class ="panel panel-default about-panel">
          <a class="btn" type="button" href="#">
            <div class="panel-heading"><h2>Technology</h2></div>
          </a>
        </div>
        <div class ="panel panel-default about-panel">
          <a class="btn" type="button" href="#">
            <div class="panel-heading"><h2>U.S</h2></div>
          </a>
        </div>
        <div class ="panel panel-default about-panel">
        <a class="btn" type="button" href="#">
            <div class="panel-heading"><h2>World</h2></div>
        </a>
        </div>
      </div>
    </div>
