    <div class="col-md-1 sidebar">
            <h5 class="retina-brand"> <a href="#/home">RETINA</a> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></h5>
            <ul class="list-group">
                <li class="list-group-item">
                <a href="/#/profile">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                Profile
                </a>
                </li>
                <li class="list-group-item">
                <a href="">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Search
                </a>
                </li>
                <li class="list-group-item">
                <a href="">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                About
                </a></li>
            </ul>
        </div>
