<div class="container container-main">

  <div class="header"><h1>Sign Up</h1></div>
  <div class="row">
            <div class="col-md-6 col-md-offset-3" align="center">
              <input type="text" class="form-control input-lg" placeholder="Username">
              <p></p>
              <input type="password" class="form-control input-lg" placeholder="Password">
              <p></p>
              <input type="password" class="form-control input-lg" placeholder="Confirm Password">
              <p></p>
              <a class="btn btn-primary btn-lg" role="button" ui-sref"#">Sign Up</a>

            </div>


          </div>



</div>