<div class="modal fade" id="mySignUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel"><font color="black">Sign Up</font></h4>
          </div>

          <div class="modal-body">

          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control input-lg" placeholder="Username">
              <p></p>
              <input type="password" class="form-control input-lg" placeholder="Password">
              <p></p>
              <input type="password" class="form-control input-lg" placeholder="Confirm Password">
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>