   <div class="container container-main">
     <div class="landing">
       <h2>What would you like to know about?</h2>
       <br>
       <form class="form-horizontal" action="query" method="get"><!--todo change to post-->
         <fieldset>
           <div class="col-md-10">
             <input class="form-control input-lg landing-form-object" id="topicSearch" name="topicSearch" type="text" placeholder="Type an interest here" required="">
           </div>
           <div class="col-md-2">
             <button id="topicSearchSubmit" class="btn btn-lg btn-success landing-form-object">Search</button>
           </div>
         </fieldset>
       </form>
     </div>
   </div>
